$primary: rgb(170, 73, 170);
$menu-bg: white;
$menu-group-bg: aliceblue;

$menu-item-height: 2rem;
$menu-item-width: 2rem;
$menu-item-radius: min($menu-item-width, $menu-item-height) / 2;

$border-style: 2px solid black;
$card-border-style: 5px solid black;

// Chat
$border-radius: 1rem;

$accent: violet;
$white: azure;
$dark: #302d32;
$warning: #b33c3c;

$message-bg: darksalmon;
$message-fg: white;
$sent-bg: cornflowerblue;
$sent-fg: white;

$input-bar-bg: white;
$input-bg: white;
$chat-bg: white;

$new-messages: black;
$name-color: black;
$time-color: black;

